[package]
name = "example_minmax_vs_classic"
version.workspace = true
license.workspace = true
edition.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
minmaxlttb = { path = "../../minmaxlttb" }
csv = "1"
plotly = "0.14"
